* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content:"";
	display: block;
	clear: both;
}

header, nav, h2, .main-visual, footer {
	font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

header {
	position: relative;
	width: 90%;
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
	/*background-color: orange;*/
}

header .headline {
	font-size: 32px;
	/*padding: 15px 0;*/
}

.social {
	position: absolute;
	top: 22px;
	right: 22px;
}

.social i {
	display: inline-block;
	margin-left: 20px;
}

.nav-list {
	/*liじゃなくてulにtext-align付けるのはなんで？*/
	text-align: center;
	padding: 10px 0;
	/*余白ないのにmarginで中央揃えにする理由？*/
	margin: 0 auto;
	/*background-color: green;*/
}

.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	/*background-color: pink;*/
}

.main-visual {
	width: 100%;
	height: 300px;
	background-image: url(../img/mv.jpg);
	background-size:cover;
	background-position:center;
}

.main-visual-content {
	width: 40%;
	height: 300px;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding-top:105px;
	/*color:white;*/
}

.main-visual-text {
	color: white;
	/*margin-top:30px;*/
}

.main-visual-name {
	color:white;
	margin-top:30px;
}

main {
	width: 800px;
	margin: 0 auto ;
	padding: 70px 0;
	/*background-color: pink;*/
}

.blog {
	width: 540px;
	margin-right: 30px;
	/*height: 1400px;*/
	float: left;
	/*background-color: green;*/
}

.blog-headline {
	text-align: center;
	border-bottom: 8px solid #f7f7f7;
	line-height: 0.6;
}

.blog-box {
	/*background-color: orange;*/
	padding-top: 50px;

}

.blog-item {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #f7f7f7;
}

.blog-image {
	height: 180px;
	float: left;
}

.blog-text {
	float: left;
	padding-top: 30px;
	padding-left: 25px;
	/*background-color: green;*/
}

.blog-text-headline {
	padding-bottom: 15px;
}

.blog-date {
	font-size: 12px;
	display: inline-block;
}

.category {
	display: inline-block;
	padding: 5px 8px;
	background-color:#acabab;
	font-size:11px;
	border-radius:3px;
	color:#fff;
}

.pagination {
	text-align: center;
	padding-top: 50px;
}

.pagination p {
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: #acabab;
	color: white;
	margin: 0 5px;
	line-height: 30px;
	border-radius: 3px;
}

.sidebar {
	width: 230px;
	float: left;
	/*background-color: blue;*/
}

.sidebar-headline, .instagram-headline, .categories-headline{
	/*padding-bottom: 50px;*/
	text-align: center;
	line-height: 0.6;
	border-bottom: 8px solid #f7f7f7;
	/*margin-bottom: 50px;*/
}

.sidebar-contents {
	padding: 50px 0;
}

.popular-text, .categories-text {
	/*margin-top: 20px; */
	padding-bottom: 15px;
	border-bottom: 1px solid #f7f7f7;
	margin-bottom: 15px;
}

.popular-text:last-child, .categories-text:last-child {
	padding: 0;
	margin: 0;
	border: none;
}

.instagram-box {
	float: left;
	width: 110px;
	padding-top: 110px;
	background-size: cover;
	background-position: center;
	/*background-color: green;*/
}

.instagram-box:nth-child(odd) {
	margin:0 10px 10px 0;
}

.instagram-box:nth-child(1) {
	background-image: url(../img/airport.jpg)
}

.instagram-box:nth-child(2) {
	background-image: url(../img/japan.jpg);
}

.instagram-box:nth-child(3) {
	background-image: url(../img/snow.jpg);
}

.instagram-box:nth-child(4) {
	background-image: url(../img/japan2.jpg);
}

.instagram-box:nth-child(5) {
	background-image: url(../img/lake.jpg);
}

.instagram-box:nth-child(6) {
	background-image: url(../img/road.jpg);
}

footer {
	width: 100%;
	height: 120px;
	text-align: center;
	padding: 50px 0;
	background-color: #848282;
}

.footer-text {
	color: #fff;
}